.recipeName {
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
}

.recipeHeaders {
    font-size: 1.2em;
    font-weight: bold;
    margin: 2em auto;
}

.recipeImage {
    border-radius: 50%;
}

.moreInfo {
    font-family: 'Roboto Mono', monospace;
    background-color: #ffa500;
    color: white;
    font-weight: bold;
    border-style: none;
    margin-top: 20px;
}

.moreInfo:hover {
    background-color: black;
    text-decoration: none;
    color: white;
}

.imageAndButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.steps {
    line-height: 1.875em;
    letter-spacing: 0.1em;
}

li {
    line-height: 1.5em;
    text-align: left;
}

.eachRecipe {
    border: 2px solid black;
    box-shadow: 3px 3px 5px black;
    max-height: 30em;
    min-height: 30em;
    max-width: 20em;
    min-width: 20em;
}

ol {
    padding: 0;
    margin: auto;
}


.link {
    font-size: 2em;
    font-weight: bold;
}

.ingredientsList {
    font-size: 0.5em;
}

ul {
    padding: 0;
    line-height: 50px;
    letter-spacing: 1px;
    list-style: none;
}

href {
    color: white;
}

href:hover {
    border-style: none;
}