#quick-search-fridge-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#fridge-search-button {
    border:none;
    background-color: white;
    box-shadow: 2px 2px black;
    font-size: .8em;
    padding:.2em !important;
    display: inline-block;
    margin: 0em;
   
}

#search-recipe-list li {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-height: 18vh;
    overflow-y:scroll; 
}

