.root{
  text-align: center;
}

* {
 font-family: 'Roboto Mono', monospace;
}

#nav-buttons button{
    border: none;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+1,ffffff+100&0.5+0,0+100 */
background: -moz-linear-gradient(top,  rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.3) 1%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.3) 1%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.3) 1%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */


    border-bottom-style: solid;
    border-color: rgba(255, 255, 255, 0.4);
    border-width: 1px;
    padding: 0.5em;

}

#featured {
    background: none;
    border: none;

    border-top-style: solid;
    border-color: rgba(255, 255, 255, 0.4);
    border-width: 1px;

}

#nav-buttons button:hover{
    color: grey;
    background-color: white;
    opacity: 0.5;
    border: none;
   
    
}

#nav-buttons button:active{
    color: grey;
    background-color: white;
    opacity: 0.6;
    border: none;
   
    
}


#nav-buttons{
    
    font-size: .8em;
    display: flex;
    flex-direction:column;
    justify-content: center;
    margin-top: 5em;
    margin-bottom:14em;

}

#nav-buttons button:focus {
    outline: 0;
   
}

#logout-button {
    font-size: .8em;
    border-radius: 0;
    border:none;
    background: none;
    color: #6b6b6b;
    opacity: 0.8;
  
}

#logout-button:hover {
    font-size: .8em;
    color: white;
    opacity: 0.8;
    text-decoration: underline;
}

#home-wrapper {
    display: flex;
    flex-direction: row;
    position:fixed;
}

#sidebar-nav h2 {
    display: inline-block;
    border: solid black 3px;
    background-color: white;
    box-shadow: 3px 3px;
    padding: .2em;
    padding-top: 0em;
    margin-top: 0em;
}

#sidebar-nav h2:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.Collapsible__trigger {
  
    padding: .1em;
    padding-right: .3em;
    padding-left: .3em;
    font-size: 2em;
    background-color: #EFB05C;

    cursor:pointer;
}


.dividing-line {
    margin-left:  2em;
    margin-right:  2em;
    border-bottom-style: dotted;
    border-width: 0px;
    border-color: 
}

li {
   list-style-type: none; 
}


.Collapsible{
    text-align: left;
    background-color:  #EFB05C;
 
}

.Collapsible {
    text-align: left;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffbba3+0,ffffff+29&1+0,0+100 */
/*background: -moz-linear-gradient(top,  rgba(255,187,163,1) 0%, rgba(255,255,255,0.71) 29%, rgba(255,255,255,0) 100%); 
background: -webkit-linear-gradient(top,  rgba(255,187,163,1) 0%,rgba(255,255,255,0.71) 29%,rgba(255,255,255,0) 100%); 
background: linear-gradient(to bottom,  rgba(255,187,163,1) 0%,rgba(255,255,255,0.71) 29%,rgba(255,255,255,0) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbba3', endColorstr='#00ffffff',GradientType=0 ); */
background-color:  #EFB05C;
}
.Collapsible__contentInner {
    display: flex;
   
    align-items: flex-start;
    max-height: 35vh;
  
}


#fridge-and-search {
display: inline-block;
 
    
  
}

#fridge {

padding-top: 1em;
background: none;
width: 45vw;
border-right: dotted grey 1px;
}

#submit-wrapper {
    border: solid black 3px;
    display: flex;
    display: inline-block;
    background-color: black;
    margin-left: 1em;
}


#input-ingredient {
    font-size: .8em;
    background-color: black;
    color: white;
    border:solid black .3em;
    width: 18em;
}

#ingredient-wrapper {
    margin: 1em;
    background-color: #EFB05C;
}

#ingredient-wrapper2 {
    margin: 1em;
    margin-left: 0em;
    background-color: #EFB05C;
}


#add-ingredient {
    font-size: .8em;
    border:solid black .1em;
    background-color: white;
    
}

input:focus {
    outline:none;
}

#ingredient-wrapper {
 
    margin-top:1em;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-height: 18vh;
    max-width: 45vw;
    overflow-x:hidden;
    overflow-y:scroll; 
  
   
}

#sidebar-nav{    
    
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(252,147,131,1)), to(rgba(239,177,91,1)));
  background: -webkit-linear-gradient(rgba(239,177,91,1) 0%, rgba(252,147,131,1) 100%);
  background: -moz-linear-gradient(rgba(239,177,91,1) 0%, rgba(252,147,131,1) 100%);
  background: -o-linear-gradient(rgba(239,177,91,1) 0%, rgba(252,147,131,1) 100%);
  background: linear-gradient(rgba(239,177,91,1) 0%, rgba(252,147,131,1) 100%);
  height: 100vh !important;
  width: 25vw;
  display:flex;
  flex-direction: column;
  justify-content:space-between;
  

 
}



#recipe-container {
    background: #ffefe0;
    flex-direction: column;
    max-height: 90vh;
    margin:0;
  
    margin-right: 2.0em;
    overflow-y: scroll;
    padding-bottom: 10em;
    

}

#recipe-header{
    text-decoration: underline;
   text-align: left;
   padding-left: 2em;

}

.user-info {
    margin-top: .5em;
    
}
.user-image {
    border-radius: 50%;
    max-width:60px !important;
    min-width: 6px;
    min-height: 60px;
    max-height: 60px !important;
}

#welcome {
    margin-top: 1.5em;
    margin: 1em;
    font-size: 0.7em;

}

#footer-content{
  
    display: flex;
    flex-direction: column;

    
}

#footer-content a{
    color: #6b6b6b;
    font-size: .8em;
    
}

#footer-content a:hover{
    background: none;
    border:none;
    color:white;
    cursor: pointer;
    
}

#footer-content p{
    font-size: .8em;
    color:#6b6b6b;
    font-weight: normal;
    
}

#recipe-and-fridge {
    padding-left: 0;
    background-color: #ffefe0;
    display: flex;
    flex-direction: column;
    width: 75vw;
}

.button {
    background-color: white;
    color: black;
    font-size: 0.8em;
    border-radius: 0;
    border-style: none;
    font-weight: bold;
    letter-spacing: 0.16em;
    border: 0.16em solid black;
    box-shadow: 0.16em 0.16em;
    outline: none;
}

.button:hover {
    background-color: black;
    color: white;
    border: 0.16em solid black;
    outline: none;

}

.button:active {
    background-color: black;
    color: white;
    border: 0.16em solid black;
    outline: none;

}

.button:focus {
    background-color: black;
    color: white;
    border: 0.16em solid black;
    outline: none;

}

.button:link {
    background-color: black;
    color: white;
    border: 0.16em solid black;
    outline: none;

}

#quick-search {
    margin-top: 1.5em;
    margin-left: 1.5em;

}


   
