.homepageDiv {
    width: 100%;
}

.main-div {
    justify-content: center;
    align-items: center;
    margin-bottom: 7.5em;
    background-color: #ffefe0;
    width: 100%;
}

.ingredients {
    display: flex;
    flex-direction: row;
}

.description {
    position: relative;
    text-align: center;
    width: 50%;
    margin: 7em auto 0 auto;
    line-height: 2.8em;
    letter-spacing: 0.07em;
}

.homepageTitles {
    margin: 3.2em auto 3.2em auto;
}

.ingredientsInput {
    margin-right: 0.625em;
    height: 2.5em;
    width: 18.75em;
}

.recipes-content {
    display: flex;
    justify-content: center;
    width: 100%;
}

.recipes-row {
    display: flex;
    justify-content: center;
}

.form {
    margin: 0 27em;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 12.5em;
    background-color: black;
    color: white;
}

.footerContacts {
    display: flex;
    flex-direction: row;
    text-decoration: underline;
}

.icons {
    display: flex;
    flex-direction: row;
}

.social-icons {
    justify-content: center;
    display: flex;
}

.social-icon {
    background-color: white;
    color: white;
    width: 2.1875em;
    height: 2.1875em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    flex-direction: row;
    margin: 0 2em;
}

.footer p {
    padding: 1.250em;
    margin: 0.625em;
}

.copyright {
    display: flex;
    flex-direction: row;
}

ul {
    margin: 0;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

