.main-div {
    justify-content: center;
    margin-bottom: 10em;
    background-color: #ffefe0
}

.ingredients {
    display: flex;
    flex-direction: row;
}

.description {
    position: relative;
    text-align: center;
    width: 50%;
    margin: 4em auto 4em auto;
    line-height: 2.8em;
    letter-spacing: 0.07em;
    font-family: 'Josefin Slab', serif;
}

.insert-ingredients {
    margin: 3.5em auto 3.5em auto;
}

.searchButton {
    padding-left: 1.875em;
    padding-right: 1.875em;
    background-color: white;
    border-style: none;
    font-weight: bold;
    letter-spacing: 3px;
    margin-left: 10px;
    font-family: 'Roboto Mono', monospace;
}

.ingredientsInput {
    margin-right: 10px;
    height: 40px;
    width: 300px;
}

.recipeSuggestionTitle {
    margin: 3.5em auto 3.5em auto;
}

.searchButton:hover {
    background-color: black;
    text-decoration: none;
}

.searchButton:active {
    background-color: black;
    text-decoration: none;
}

.searchButton:visited {
    background-color: black;
    text-decoration: none;
}

.searchButton:focus {
    background-color: black;
    text-decoration: none;
    border-style: none;
}

.recipes-content {
    display: flex;
    justify-content: center;
}

.recipes-row {
    display: flex;
    justify-content: center;
}

.form {
    margin: 0 26.65em;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 200px;
    background-color: black;
    color: white;
}

.social-icons {
    justify-content: center;
    display: flex;
}

.social-icon {
    margin: 0 0.3em;
    background-color: white;
    color: black;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    flex-direction: row;
}

.footer p {
    padding: 20px;
    margin: 10px;
}