.main-div {
    justify-content: center;
    margin-bottom: 7.5em;
    background-color: #ffefe0
}

.ingredients {
    display: flex;
    flex-direction: row;
}

.description {
    position: relative;
    text-align: center;
    width: 50%;
    margin: 7em auto 0 auto;
    line-height: 2.8em;
    letter-spacing: 0.07em;
}

.insert-ingredients {
    margin: 3.2em auto 3.2em auto;
}

.searchButton {
    padding-left: 1.875em;
    padding-right: 1.875em;
    background-color: white;
    border-style: none;
    font-weight: bold;
    letter-spacing: 0.188em;
    margin-left: 0.625em;
    font-family: 'Roboto Mono', monospace;
}

.ingredientsInput {
    margin-right: 0.625em;
    height: 2.500em;
    width: 18.750em;
}

.recipeSuggestionTitle {
    margin: 3.5em auto 3.5em auto;
}

.searchButton:hover {
    background-color: black;
    text-decoration: none;
}

.searchButton:active {
    background-color: black;
    text-decoration: none;
}

.searchButton:visited {
    background-color: black;
    text-decoration: none;
}

.searchButton:focus {
    background-color: black;
    text-decoration: none;
}

.recipes-content {
    display: flex;
    justify-content: center;
}

.recipes-row {
    display: flex;
    justify-content: center;
}

.form {
    margin: 0 26.65em;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 12.5em;
    background-color: black;
    color: white;
}

.footerContacts {
    display: flex;
    flex-direction: row;
    text-decoration: underline;
}

.icons {
    display: flex;
    flex-direction: row;
}

.social-icons {
    justify-content: center;
    padding-right: 2.8125em;
    display: flex;
}

.social-icon {
    margin: 0 0.3em;
    background-color: white;
    color: white;
    width: 2.1875em;
    height: 2.1875em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    flex-direction: row;
    margin-left: 2em;
}

.footer p {
    padding: 1.250em;
    margin: 0.625em;
}

.copyright {
    display: flex;
    flex-direction: row;
}

ul {
    margin: 0;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}
